input{
  background-color: var(--fundo);
  color: var(--link);
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #797979;
  width: 100%;
  // margin-right: 14px;
  height: 34px;
  margin-bottom: 4px;
}

input:focus{
  background-color: var(--fundo-claro);
  color: var(--texto);
}
.contact-mail{
  // min-width: 75%;
  // width: 80%;
  // max-width: 90%;
}

.form-group{
  display: flex;
  justify-content: space-between;
}
