.header{
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  height: 70px;
  text-align: right;
}
.menu{
  // margin: 0 30px 0 0;
  display: inline-block;
}
.menu a {
  text-decoration: none;
  margin: 0 5px;
  line-height: 70px;
  // clear: right;
}
.active{
  //define a página que está ativa
  font-weight: bolder;
  color: var(--text);
}
@media (max-width: 300px) {
  .menu a{
    display: inline;
    margin: 0;
    padding: 0;
  }
}
