
select {
  width: 250px;
  height: 34px;
}

#transcrever_id {
  width: 250px;

  // INPUTS
  select {
    // border: 0px;
    padding: 0 4px;
    margin: 0;
    height: 34px;
  }
}

  [type="button"] {
    padding: 0 4px;
    margin: 0;
    height: 34px;
  }
  //Para lista de Sobre
  .lista {
    list-style-type: georgian;
  }

  .btn-light {
    margin-bottom: 4px;
    background-color: var(--fundo);
    color: var(--link);
    border-color: #797979;
    width: 250px;
    padding: 0 4px;
    margin: 0;
    height: 34px;
    margin-bottom: 4px;
    font-size: 16px;
    margin-bottom: 4px;
  }
  [type="submit"] {
    border: 1px solid #797979;

  }

  .btn-light:hover,
  .btn-light:focus,
  #transcrever_id.btn-light:focus{
    background-color: var(--fundo-claro);
    color: var(--texto);
  }

  input#transcrever_id:focus,
  select:focus,
  textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  a {color:var(--link)}
  a:hover {color:var(--link-hover)}

  body {
    background-color: var(--fundo);
    color: var(--texto);
  }
