select>option{
  background-color: var(--fundo);
}
select{
  background-color: var(--fundo);
}
select::before{
  background-color: var(--fundo);
}
select::after{
  background-color: var(--fundo);
}
select:focus{
  background-color: var(--fundo);
}
//MUDAR A COR DE FUNDO DA LISTA SUSPENSA
//E A COR DA SETINHA PARA BAIXO NO MENU select
