*{
  margin: 0;
  padding: 0;
}
body {
  background-color: #333;
  color: #cfcfcf;
}
a{
  color: #cfcfcf;
}
a:visited{
  color: #cfcfcf;
}
a:hover{
  color: lightblue;
}
.container{
  display: grid;
  // grid-template-columns: repeat(11, 1fr);
  // grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
  // header, textarea, can, select,b=textarea ,a action_buttons
  " h h h "
  " m m m "
  " f f f ";
}
header{
  background-color: #000;
  grid-area: h;
  display: flex;
  justify-content: space-around;
}
main{
  background-color: #fff;
  grid-area: m;
  // display: flex;
  // align-items: stretch;
  display: grid;
  grid-template-areas:
  ". t t t t t t t ."
  ". s s s s s s s ."
  ". o o o o o o o .";
  width: 100vw;
}
footer{
  grid-area: f;
  background-color: #000;
  display: flex;
  justify-content: center;
}
.textarea_1{
  grid-area: t;
  background-color: #456;
  display: flex;
}
.textarea_1 textarea{
  width: 100%;
}
.idioma_select{
  grid-area: s;
  background-color: #654;
  // width: 100%;
  display: flex;
  justify-content: space-around;
}
.textarea_action{ //.textarea_2
  grid-area: o;
  background-color: #479;
  display: grid;
  grid-template-areas:
  "idi idi idi idi idi idi idi idi idi"
  "txa txa txa txa txa txa txa txa bts"
}
.idioma_mundo{
  grid-area: idi;
}
.textarea_2{
  grid-area: txa;
     width: 100%;
}
.output_action{
  grid-area: bts;
  display: flex;
  flex-direction: column;
}
